.ipynb_checkpoints
session-08/train
session-08/validation
session-08/train.zip
session-09/lambda_function
capstone-project-12/test
capstone-project-12/train
capstone-project-12/validation
capstone-project-12/data
capstone-project-12/archive.zip